
.idea/misc.xml
.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/Synthesizability.iml
.idea/vcs.xml
.idea/workspace.xml
Molecule.one/Input/Emmanuel_molecules.txt
Molecule.one/Input/random_walk_100k.txt
Molecule.one/Input/random_walk_10kmore.txt
Molecule.one/Input/random_walk_5k.txt
Molecule.one/Input/random_walk_5k2.txt
Molecule.one/Input/Zinc15_15kmore.txt
Molecule.one/Input/Zinc15_fda.txt
Molecule.one/Input/Zinc15_full.txt
Molecule.one/Input/Zinc15_investigational.txt
Molecule.one/Output/Emmanuel_molecules.json
Molecule.one/Output/random_walk_100k.json
Molecule.one/Output/random_walk_10kmore.json
Molecule.one/Output/random_walk_5k.json
Molecule.one/Output/random_walk_5k2.json
Molecule.one/Output/Zinc15_15kmore.json
Molecule.one/Output/Zinc15_fda.json
Molecule.one/Output/Zinc15_investigational.json
Molecule.one/Scripts/molecule_rdkitproperty.py
Molecule.one/Scripts/moleculeone_pre.py
Molecule.one/Scripts/moleculeone_proc.py
Molecule.one/Scripts/MPNN_proc.py
Molecule.one/z_obsolete/Attributes/Emmanuel_molecules_molwt_results.csv
Molecule.one/z_obsolete/Attributes/Emmanuel_molecules_qed_results.csv
Molecule.one/z_obsolete/Attributes/Emmanuel_molecules_results_molecules.csv
Molecule.one/z_obsolete/Attributes/random_walk_100k_molwt_results.csv
Molecule.one/z_obsolete/Attributes/random_walk_100k_qed_results.csv
Molecule.one/z_obsolete/Attributes/random_walk_100k_results_molecules.csv
Molecule.one/z_obsolete/Attributes/Zinc15_fda_molwt_results.csv
Molecule.one/z_obsolete/Attributes/Zinc15_fda_qed_results.csv
Molecule.one/z_obsolete/Attributes/Zinc15_fda_results_molecules.csv
Molecule.one/z_obsolete/Attributes/Zinc15_investigational_molwt_results.csv
Molecule.one/z_obsolete/Attributes/Zinc15_investigational_qed_results.csv
Molecule.one/z_obsolete/Attributes/Zinc15_investigational_results_molecules.csv
Molecule.one/z_obsolete/Binary/binary_emmanuel.csv
Molecule.one/z_obsolete/Binary/binary_fda.csv
Molecule.one/z_obsolete/Binary/binary_investigational.csv
Molecule.one/z_obsolete/Binary/binary_randomwalk.csv
Molecule.one/z_obsolete/Regression/Category/Emmanuel_molcules_results_2.csv
Molecule.one/z_obsolete/Regression/Category/random_walk_100k_results_2.csv
Molecule.one/z_obsolete/Regression/Category/Zinc15_fda_results_2.csv
Molecule.one/z_obsolete/Regression/Category/Zinc15_investigational_results_2.csv
Molecule.one/z_obsolete/Regression/Original/Emmanuel_molecules_results.json
Molecule.one/z_obsolete/Regression/Original/random_walk_100k_results.json
Molecule.one/z_obsolete/Regression/Original/Zinc15_fda_results.json
Molecule.one/z_obsolete/Regression/Original/Zinc15_investigational_results.json
Molecule.one/z_obsolete/Regression/Synthesizability_training_full_binary.csv
Molecule.one/z_obsolete/Regression/Synthesizability_training_full_binary_corrected.csv
Molecule.one/z_obsolete/Regression/Synthesizability_training_full_normalized_1.csv
Molecule.one/z_obsolete/Regression/Synthesizability_training_full_normalized_10to1.csv
Molecule.one/z_obsolete/Regression/Synthesizability_training_full_normalized_2.csv
Molecule.one/z_obsolete/Regression/Synthesizability_training_full_normalized_obs.csv
Molecule.one/z_obsolete/Regression/Synthesizability_training_full_original.csv
MPNN_model/Regression/model_0/verbose.log
MPNN_model/Regression/model_1/Predicted/Emmanuel_molecules_predict.csv
MPNN_model/Regression/model_1/Predicted/random_walk_100k_predict.csv
MPNN_model/Regression/model_1/Predicted/Zinc15_fda_predict.csv
MPNN_model/Regression/model_1/Predicted/Zinc15_investigational_predict.csv
MPNN_model/Regression/model_1/verbose.log
